@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,700&display=swap');
* {
    margin: 15px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fbe5e59c;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
    justify-content: space-between;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.generator-title {
    text-align: center;
    font-size: 46px;
    color: #b1cdff;
    text-shadow: 0 -4px 6px #f58f81;
}

.generator-title:before{
    content: "Box Shadow Generator";
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    margin: auto;
    color: white;
    z-index: 1;

}
.parent-box {
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffb5a973;
    margin-bottom: 50px;
}

.box {
    margin: 50px;
    width: 200px;
    height: 200px;
}
.shadow-result{
    border-radius: 10px;
    background-color: white;
}
.shadow-result-box{
    width: 600px;
    text-align: center;
    height: 135px;
    padding: 15px;
    line-height: 35px;
    margin: 0 auto;
    font-size: 18px;
    background-color: #ffb5a973;
    color: #f58f81;
}

input {
    margin-bottom: 40px;
    -webkit-appearance: none;
    border: 1px solid rgba(245, 143, 129, 0.7);
    height: 10px;
    outline: none;
    border-radius: 10px 10px 10px 10px;
    background: -webkit-linear-gradient(left, #b1cdff 0%, #b1cdff 25%);
}
input::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #f58f81;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;

}

#r1 {
    width: 400px;
}

#offsetX {

}